<div class="mat-elevation-z8" *transloco="let t; read: 'sites.grid'">
  <mat-table [dataSource]="dataSource" matSort matSortActive="id" matSortDisableClear matSortDirection="asc">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="primary">Id</th>
      <td mat-cell *matCellDef="let element"> {{element.id }} </td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ t('name')  }}</th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
    <ng-container matColumnDef="countryDescr">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ t('country')  }}</th>
      <td mat-cell *matCellDef="let element"> {{element.countryDescr}} </td>
    </ng-container>
    <ng-container matColumnDef="enable">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ t('enable')  }}</th>
      <td mat-cell *matCellDef="let element"> {{element.enable}} </td>
    </ng-container>
    <ng-container matColumnDef="language">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ t('language')  }}</th>
      <td mat-cell *matCellDef="let element"> {{element.language}} </td>
    </ng-container>
    <ng-container matColumnDef="sessionExpiration">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ t('expirationDt')  }}</th>
      <td mat-cell *matCellDef="let element"> {{element.sessionExpiration | date:'dd/MM/yyyy'}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </mat-table>
</div>