<div class="full-page">

  <mat-card class="login-card">
    <mat-card-title>
      Login
    </mat-card-title>
    <mat-card-content>
      <form autocomplete="off">
        <mat-form-field>
          <input autocomplete="off" (keydown.enter)="login(email, password)" name="email" matInput placeholder="Usuario"
            [(ngModel)]="email" />
        </mat-form-field>
        <mat-form-field>
          <input autocomplete="off" (keydown.enter)="login(email, password)" name="password" matInput placeholder="Password"
            [(ngModel)]="password" type="password" />
        </mat-form-field>
        <mat-error *ngIf="error">
          Usuario y Password incorrectos
        </mat-error>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="login(email, password)" type="submit">
        Login
      </button>
    </mat-card-actions>
  </mat-card>

</div>